

header {
    & .container {
        display: flex;
    }

        & .logo {
            font-size: 1.5em;
            margin: auto auto;
        }

        & .menu {
            width: 50%;
        }

        & .menu--list--item {
            
            display: inline-block;
            margin: 2%;
        }
    
    img {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        z-index: -1;
    }


    & h2.first--message { 
        position: absolute;
        top: 60%;
        left: 25%;
        font-size: 2.5em;
        text-align: center;
    }

    & h3.second--message {
        position: absolute;
        top: 120%;
        left: 35%;
        text-align: center;
    }

}

main {
    .first {
        margin: 5%;
        background-color: rgb(255,255,255);
        }
    h2.main--first {
        text-align: center;
        padding: 20 0 20 0;
    }
    .container {
        display: flex;
        width: 100%;
    }
    img {
        margin:0 auto 0 9%;
    }
    .main--first--description {
        font-size: 1em;
        margin: 2% 10% 4% 3%;
    }

    .second {
        & .main--second {
            margin: 5% 42%;
            display: flex;
            width: 100%;
            font-size: 2em;
        }
    }

    & .second .container img {
        text-align: center;
        margin: 0 0 0 3%;
        padding-right: 1%;
    }
    & .second .container img:first-child {
        margin-left: 12%;
    }

    & .container h3{
        display: flex;
        justify-content: space-between;
        font-size: smaller;
    }

    .main--second--description1 {
        margin: 0 0 0 12%;
    }
    .main--second--description2{
        margin: 0 0 0 13%;
    }   
    .main--second--description3{
        margin: 0 0 0 9%;
    }   

    .third {
        text-align: center;
        
        & .main--third {
            margin: 8%;
            font-style: bold;
        }

        & .mail--area {
            width: 45%;
            padding-top: 3%;
            margin: -1% 0 3% 0;
            border-radius: 40px;
            box-shadow: none;
            border-color: rgb(148, 167, 111);
            font-size: 1.5em;
        }
    
        button {
            background: red;
            width: 30%;
            padding: 2% 0;
            color: white;
            font-size: 2em;
            
        }
    }

}

footer {
    hr {
        margin-top: 10%;
        width: 80%;
        color: rgb(179, 179, 179);
    }
}

