html {
  font-size: 62.5%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul,li {
  list-style: none;
}

$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@keyframes yaji {
  0% {
    transform: scale(1) translateY(5vh);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1) translateY(10vh);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(10vh);
  }
}

@keyframes yaji-sm {
  0% {
    transform: scale(1) translateY(5vh);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1) translateY(40vh);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(40vh);
  }
}

@keyframes kaiten {
  0% {
    transform: scale(1) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes hamon {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

.header {
  width: 100%;
  .container {
    display: grid;
    align-items: center;
    justify-items: center;  
    height: 100vh;
    background-color: #eeeeee;
    .left {
      &__item {
        text-align: center;
        color: #393e46;
      }
    }
    .right {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      &__item {
        &__three {
          width: 30%;
          margin: 8vh auto 0vh auto;
          &:hover {
            opacity: 0.5;
          }
        }
        &__sns {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          width: 100%;
          margin: 5vh auto;
          animation: hamon 3s forwards;
          &-github {
            margin: 0 0.1vw;
            &:hover {
              opacity: 0.5;
            }
          }
          &-twitter {
            @extend .right__item__sns-github;
          }
          &-instagram {
            @extend .right__item__sns-github;
          }
        }
        &__arrow {
          margin: 0 auto;
          width: 20%;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    @include mq(sm) {
      grid-template-columns: 1fr;
      .left {
        &__item {
          margin: 10vh 0 0 0;
          letter-spacing: 3px;
          font-size: 3rem;
        }
      }
      .middle {
        margin: 5vh 0 0 0;
        padding: 0 20vw;
        border-top: 0.1vw solid #393e46;
      }
      .right {
        width: 100%;
        &__item {
          &__three {
            position: absolute;
            width: 20%;
            top: 50vh;
            left: 65vw;
          }
          &__sns {
            display: inline-block;
            width: 20%;
          }
          &__arrow {
            margin: 0 auto;
            &-1 {
              animation: yaji-sm 4s ease-in-out infinite;
            }
          }
        }
      }
    }
    @include mq(md) {
      grid-template-columns: 1fr;
      .left {
        &__item {
          letter-spacing: 4px;
          font-size: 4rem;
        }
      }
      .middle {
        margin: 10vh 0 0 0;
        padding: 0 30vw;
        border-left: 0.1vw solid #393e46;
      }
      .right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &__item {
          &__three {
            position: absolute;
            top: 0vh;
            right: -20vw;
            width: 8%;
            margin: 0 auto;
          }
          &__sns {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 60%;
            margin: 10vh 5vw 0 20vw;
            animation: hamon 3s forwards;
          }
          &__arrow {
            margin: 0 10% 0 45%;
            width: 10%;
            &-1 {
              animation: yaji 3s ease-in-out infinite;
            }
          }
        }
      }
    }
    @include mq(lg) {
      grid-template-columns: 2fr 0.2fr 1fr;
      .left {
        &__item {
          letter-spacing: 5px;
          font-size: 5rem;
        }
      }
      .middle {
        margin: 10vh 0 0 0;
        padding: 25vw 0;
        border-left: 0.1vw solid #393e46;
      }
      .right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &__item {
          &__three {
            top: 0;
            right: 0;
            width: 10%;
            margin: 5vw 10.5vw 0 auto;
          }
          &__sns {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            margin: 40vh auto 0 auto;
            animation: hamon 3s forwards;
          }
          &__arrow {
            margin: 10vh auto 0 auto;
            width: 30%;
            &-1 {
              animation: yaji 3s ease-out infinite;
            }
          }
        }
      }
    }
    @include mq(xl) {
      grid-template-columns: 2fr 0.2fr 1fr;
      .left {
        &__item {
          letter-spacing: 6px;
          font-size: 6rem;
        }
      }
      .middle {
        margin: 5vh 0 0 0;
        padding: 20vw 0;
        border-left: 0.1vw solid #393e46;
      }  
    }
  }
}

.main {
  .nav {
    z-index: 2;
    position: sticky;
    top: 30px;
    width: 100%;
    background-color: 0;
    &__burger {
      &-1 {
        width: 3%;
        display: block;
        font-size: 10rem;
        line-height: 1rem;
        border: 1px #00adb5 solid;
        margin: 1% 0 0 96%;
      }
      &-2 {
        @extend .nav__burger-1;
      }
      &-3 {
        @extend .nav__burger-1;
      }
    }
  }
  .ware {
    height: 92vh;
    margin: 1% 5% 0 5%;
    position: relative;
    &__ware {
      z-index: -1;
    }
    &__num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      font-size: 10rem;
      margin: 5%;
      padding: 2% 3%;
      text-align: center;
      color: #eeeeee;
      background-color: #00adb5;
    }
    &__about {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2rem;
      margin: 12%;
      padding: 16% 18%;
      // text-align: center;
      color: white;
      background-color: #393e46;
      opacity: 0.8;
    }
  }
  .skill {
    height: 100vh;
    background-color: #222831;
    position: relative;
    &__num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 5%;
      font-size: 10rem;
      margin: 5%;
      padding: 2% 3%;
      text-align: center;
      color: #eeeeee;
      background-color: #00adb5;
    }
    &__item {
      position: absolute;
      top: 0;
      left: 5%;
      font-size: 2rem;
      margin: 12%;
      padding: 16% 36%;
      text-align: center;
      color: #eeeeee;
      background-color: #393e46;
      opacity: 0.8;
    }
  }
  .works {
    height: 100vh;
    position: relative;
    background-color: #eeeeee;
    &__num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 5%;
      font-size: 10rem;
      margin: 5%;
      padding: 2% 3%;
      text-align: center;
      color: #eeeeee;
      background-color: #00adb5;
    }
    &__item {
      position: absolute;
      top: 0;
      left: 5%;
      font-size: 2rem;
      margin: 12%;
      padding: 16% 36%;
      text-align: center;
      color: #eeeeee;
      background-color: #393e46;
      opacity: 0.8;
    }
  }
  .contact {
    height: 100vh;
    background-color: #222831;
  }
}

.footer {
  height: 100vh;
  background-color: #eeeeee;
  .three {
    height: 85%;
    text-align: center;
    .myCanvas {
    }
  }
  .nav {
    height: 10%;
    background-color: #00adb5;
  }
  .copy {
    display: inline-block;
    height: 5%;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 0.5%;
    color: #00adb5;
    background-color: #222831;
    text-align: center;
    .encore {
      color: #00adb5;
    }
  }
}