* {
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
    font-weight: 400;
}

header {
    margin-bottom: 10%;
    padding-bottom: 30%;
    background: {
        image: url("/img/main.png");
        size: cover;
        size: 100% 80%;
        attachment: fixed;
    } 
    .container {
        display: flex;
        .logo {
            transition-property: opacity;
            transition-duration: 0.5s;
            &:hover {
                opacity: 0.5;
            }
            margin: 2% auto 3% 7%;
        }
        .nav__list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            margin: 1% 12% 2% 0;
            padding: 2% 4% 2% 6%;
            .nav__list--item {
                font-size: 1.8rem;
                color: black;
                text-decoration: none;
                transition-property: opacity;
                transition-duration: 0.5s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    .massage {
        position: absolute;
        margin: 0 auto;
        font-size: 4.8rem;
        color: black;
        top: 40%;
        left: 53%;
        transform: translate(-50%,-50%);
    }
}