html {
  font-size: 62.5%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes bunri-t1 {
  0% {
    -webkit-transform: scale(0.1) translateY(250vh) translateX(-40vw);
            transform: scale(0.1) translateY(250vh) translateX(-40vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(-40vw);
            transform: scale(0.1) translateY(0) translateX(-40vw);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@keyframes bunri-t1 {
  0% {
    -webkit-transform: scale(0.1) translateY(250vh) translateX(-40vw);
            transform: scale(0.1) translateY(250vh) translateX(-40vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(-40vw);
            transform: scale(0.1) translateY(0) translateX(-40vw);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@-webkit-keyframes bunri-t2 {
  0% {
    -webkit-transform: scale(0.091) translateY(-392vh) translateX(12vw);
            transform: scale(0.091) translateY(-392vh) translateX(12vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(0vw);
            transform: scale(0.1) translateY(0) translateX(0vw);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@keyframes bunri-t2 {
  0% {
    -webkit-transform: scale(0.091) translateY(-392vh) translateX(12vw);
            transform: scale(0.091) translateY(-392vh) translateX(12vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(0vw);
            transform: scale(0.1) translateY(0) translateX(0vw);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@-webkit-keyframes bunri-t3 {
  0% {
    -webkit-transform: scale(0.097) translateY(-63vh) translateX(-40vw);
            transform: scale(0.097) translateY(-63vh) translateX(-40vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(0);
            transform: scale(0.1) translateY(0) translateX(0);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@keyframes bunri-t3 {
  0% {
    -webkit-transform: scale(0.097) translateY(-63vh) translateX(-40vw);
            transform: scale(0.097) translateY(-63vh) translateX(-40vw);
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.1) translateY(0) translateX(0);
            transform: scale(0.1) translateY(0) translateX(0);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0) translateX(0);
            transform: scale(1) translateY(0) translateX(0);
  }
}

@-webkit-keyframes move-m1 {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) translateY(35vh) translateX(-180vh);
            transform: scale(1) translateY(35vh) translateX(-180vh);
  }
  100% {
    -webkit-transform: scale(1) translateY(40vh) translateX(-180vh);
            transform: scale(1) translateY(40vh) translateX(-180vh);
    border-color: orange;
  }
}

@keyframes move-m1 {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) translateY(35vh) translateX(-180vh);
            transform: scale(1) translateY(35vh) translateX(-180vh);
  }
  100% {
    -webkit-transform: scale(1) translateY(40vh) translateX(-180vh);
            transform: scale(1) translateY(40vh) translateX(-180vh);
    border-color: orange;
  }
}

@-webkit-keyframes move-m2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(5vh) translateX(0);
            transform: scale(1) translateY(5vh) translateX(0);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(40vh) translateX(179vh);
            transform: scale(1) translateY(40vh) translateX(179vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(5vh) translateX(0);
            transform: scale(1) translateY(5vh) translateX(0);
    border-color: orange;
  }
}

@keyframes move-m2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1) translateY(5vh) translateX(0);
            transform: scale(1) translateY(5vh) translateX(0);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(40vh) translateX(179vh);
            transform: scale(1) translateY(40vh) translateX(179vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(5vh) translateX(0);
            transform: scale(1) translateY(5vh) translateX(0);
    border-color: orange;
  }
}

@-webkit-keyframes move-m3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move-m3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header .triangle-1 {
  position: absolute;
  top: 0;
  left: 10%;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35vh 90vw 0 0;
  border-color: black transparent transparent transparent;
  -webkit-animation: bunri-t1 2s forwards;
          animation: bunri-t1 2s forwards;
}

.header .triangle-2 {
  position: absolute;
  top: 62%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 38vh 0 0 100vw;
  border-color: transparent transparent transparent black;
  -webkit-animation: bunri-t2 2s forwards;
          animation: bunri-t2 2s forwards;
}

.header .triangle-3 {
  position: absolute;
  top: 17%;
  left: 10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 33vh 90vw 33vh 0;
  border-color: transparent black transparent transparent;
  -webkit-animation: bunri-t3 2s forwards;
          animation: bunri-t3 2s forwards;
}

.header .marumaru {
  position: absolute;
  top: 3%;
  left: 91.5%;
  border: 7vh solid black;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 3s 2s;
  transition: opacity 3s 2s;
}

.header .marunav {
  position: absolute;
  top: 3%;
  left: 91.5%;
  border: 7vh solid white;
  border-radius: 50%;
  -webkit-animation: move-m1 2.9s 3s forwards;
          animation: move-m1 2.9s 3s forwards;
}

.header .maruban {
  z-index: -1;
  position: absolute;
  top: 43%;
  left: 0.7%;
  border: 7vh solid white;
  border-radius: 50%;
  -webkit-animation: move-m2 5s 5s forwards;
          animation: move-m2 5s 5s forwards;
}

.header .maruarr {
  position: absolute;
  top: 83%;
  left: 91%;
  border: 7vh solid orange;
  border-radius: 50%;
  -webkit-animation: move-m3 15s forwards;
          animation: move-m3 15s forwards;
}

.main .profile {
  margin: 108vh auto 0 auto;
  padding: 0 0 10vh 0;
  width: 82vw;
  background-color: black;
  border-radius: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .profile .kao {
  margin-top: 20vh;
  margin-bottom: 0;
  padding: 0;
}

.main .profile .hukidasi {
  color: white;
  font-size: 5rem;
}

.main .profile .hukidasi .me:hover {
  display: inline-block;
  font-size: 10rem;
  color: yellow;
}

.main .profile .hukidasi .me .descript {
  display: none;
}

.main .contact {
  margin: 13vh auto 0 auto;
  padding: 0 0 76vh 0;
  width: 82vw;
  background-color: black;
  border-radius: 2%;
}

.footer .three {
  margin: 13vh auto 0 auto;
  padding: 0 0 76vh 0;
  width: 82vw;
  background-color: blue;
  border-radius: 2%;
}

.footer .sns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 40vh auto 0 auto;
  padding: 16vh 0 16vh 0;
  width: 100vw;
  background-color: black;
}

.footer .sns a {
  color: white;
}

.footer .copy {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 0 auto;
  padding: 16vh 0 16vh 0;
}
/*# sourceMappingURL=style.css.map */