// all
// ========================================================
html {
  font-size: 62.5%;
  font-family: 'Noto Serif JP', serif;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// header
// ========================================================
.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  justify-items: center;
  background-color: #FFFFFF;
  &__img {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
  }
  &__message {
    position: absolute;
    font-size: 6rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  &__logo {
    font-size: 5rem;
    color: #1688BF;
  }
  &__nav {
    font-size: 2rem;
    margin: 0 30px 0 auto;
    &__item {
      margin: 0 10px;
      display: inline-block;
      border-bottom: 1px solid white;
      transition: border 0.5s;
      &:hover {
        border-bottom: 1px solid black;
        transition: all 0.5s;
      }
      &::before {
        content: "/";
        color: #1688BF;

      }
    }
  }
}

// main
// ========================================================
// - news
.news {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100vh 0 0 0;
  .title {
    margin: 0 auto;
    &__txt {
      font-size: 5rem;
      &::after {
        content: "\Aお知らせ";
        white-space: pre;
        font-size: 1.5rem;
      }
    }
    &__button {
      font-size: 3rem;
      border: 1px solid black;
      background: black;
      color: white;
      transition: all 1s;
      &:hover {
        color: black;
        background: white;
        border-inline-start: 40px solid;
        writing-mode: horizontal-tb;
        transition: 1s;
      }
    }
  }
  .article {
    margin: 0 10vw 0 0;
    &__item {
      display: flex;
      border-bottom: 1px solid black;
      margin: 3% 0 0 0;
      padding: 0 500px 0 0;
      &__date {
        font-size: 1rem;
      }
      &__kind {
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
      }
      &__info {
        font-size: 1.5rem;
      }
      &:hover {
        opacity: 0.5;
        transition: opacity 0.2s;
      }
    }
  }
}

// - mission
.mission {
  background-color: #F0F5F9;
  margin: 5% 0;
  padding: 10% 0;
  .title {
    font-size: 5rem;
    text-align: center;
    &::after {
      content: "\A企業理念";
      white-space: pre;
      font-size: 1.5rem;
    }
  }
  .message {
    font-size: 3rem;
    text-align: center;
  }
}

// - buisiness
.buisiness {
  .container {
    display: grid;
    grid-template-areas:
    "title title"
    "first second"
    "third forth"
    ;
    justify-content: center;
    .title {
      grid-area: title;
      font-size: 5rem;
      text-align: center;
      &::after {
        content: "\A事業内容";
        white-space: pre;
        font-size: 1.5rem;
      }
    }
    .item {
      &-first {
        margin: 0 90px 0 auto;
        grid-area: first;
        width: 50%;
        text-align: center;
        &__ttl {
          color: #1688BF;
          font-size: 3rem;
        }
        &__txt {
          font-size: 1.5rem;
        }
      }
      &-second {
        margin: 2% 0 0 50px;
        grid-area: second;
        width: 50%;
        text-align: center;
        &__ttl {
          color: #1688BF;
          font-size: 3rem;
        }
        &__txt {
          font-size: 1.5rem;
        }
      }
      &-third {
        margin: 8% 90px 0 auto;
        grid-area: third;
        width: 50%;
        text-align: center;
        &__ttl {
          color: #1688BF;
          font-size: 3rem;
        }
        &__txt {
          font-size: 1.5rem;
        }
      }
      &-forth {
        margin: 10% 0 10% 50px;
        grid-area: forth;
        width: 50%;
        text-align: center;
        &__ttl {
          color: #1688BF;
          font-size: 3rem;
        }
        &__txt {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// - recruit
.recruit {
  background-color: #F0F5F9;
  .container {
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .title {
      width: 100%;
      font-size: 5rem;
      text-align: center;
      &::after {
        content: "\A採用情報";
        white-space: pre;
        font-size: 1.5rem;
      }
    }
    .item {
      &-first {
        width: 30%;
        text-align: center;
        margin: 0 auto;
        transition: 0.5s;
        &::before {
          content: "新卒採用";
          position: absolute;
          color: white;
          z-index: 1;
          font-size: large;
          margin: 9% 0 0 12%;
        }
        &__img {
          position: relative;
        }
        &:hover {
          content: "";
          opacity: 0.5;
          transition: 0.5s;
        }
      }
      &-second {
        width: 30%;
        text-align: center;
        margin: 0 auto;
        transition: 0.5s;
        &::before {
          content: "中途採用";
          position: absolute;
          color: white;
          z-index: 1;
          font-size: large;
          margin: 9% 0 0 12%;
        }
        &__img {
          position: relative;
        }
        &:hover {
          content: "";
          opacity: 0.5;
          transition: 0.5s;
        }
      }
      &-third {
        width: 30%;
        text-align: center;
        margin: 0 auto;
        transition: 0.5s;
        &::before {
          content: "障害者採用";
          position: absolute;
          color: white;
          z-index: 1;
          font-size: large;
          margin: 9% 0 0 12%;
        }
        &__img {
          position: relative;
        }
        &:hover {
          content: "";
          opacity: 0.5;
          transition: 0.5s;
        }
      }
    }
  }
  .button {
    display: inline-block;
    margin: 0 40% 3% 40%;
    padding: 2% 0.5%;
    width: 20%;
    font-size: 3rem;
    border: 1px solid black;
    background: #4B4B4B;
    color: white;
    transition: all 1s;
    &:hover {
      color: black;
      background: white;
      border-inline-start: 40px solid;
      writing-mode: horizontal-tb;
      transition: 1s;
    }
  }
}

// - about
.about {
  margin: 5% auto;
  .title {
    font-size: 5rem;
    text-align: center;
    &::after {
      content: "\A DWLinkについて";
      white-space: pre;
      font-size: 1.5rem;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    .inner {
      &__list {
        &__title{
          color: gray;
          float: left;
          width: 50%;
          margin: 2% 0 0 0;
          font-size: 1.5rem;
          background: #F0F5F9;
        }
        &__item {
          margin: 2% 0 0 300px;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// - contact
.contact {
  background-color: #F0F5F9;
  padding: 100px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    .title {
      width: 100%;
      text-align: center;
      font-size: 5rem;
      &::after {
        content: "\A お問い合わせ";
        white-space: pre;
        font-size: 1.5rem;
      }
    }
    .name {
      display: grid;
      grid-template-columns: 1fr;
      width: 30%;
      margin: 0 20% 3% 20%;
      font-size: 2rem;
      &__ttl {
        &::after {
          content: " ※必須";
          color: red;
        }
      }
    }
    .cname {
      display: grid;
      grid-template-columns: 1fr;
      width: 30%;
      margin: 0 20% 3% 20%;
      font-size: 2rem;
    }
    .mail {
      display: grid;
      grid-template-columns: 1fr;
      width: 30%;
      margin: 0 20% 3% 20%;
      font-size: 2rem;
      &__ttl {
        &::after {
          content: " ※必須";
          color: red;
        }
      }
    }
    .message {
      display: grid;
      grid-template-columns: 1fr;
      width: 30%;
      margin: 0 20% 4% 20%;
      font-size: 2rem;
      &__txt {
        padding: 100px 0;
      }
    }
    .button {
      display: inline-block;
      margin: 0 40% 3% 40%;
      padding: 2% 0.5%;
      width: 20%;
      font-size: 3rem;
      border: 1px solid black;
      background: #4B4B4B;
      color: white;
      transition: all 1s;
      &:hover {
        color: black;
        background: white;
        border-inline-start: 40px solid;
        writing-mode: horizontal-tb;
        transition: 1s;
      }
    }
  }
}

// footer
// ========================================================
.footer {
  .copy {
    text-align: center;
    background: black;
    color: white;
    padding: 2% 0;
  }
}
