* {
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, meirio, メイリオ, "Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4", Osaka, "ＭＳ Ｐゴシック", sans-serif;
    background-color: rgb(246,246,246);
}


header {
    color: rgb(86,86,86);
    & .top--border {
        margin: 0 0 1% 0;
        padding: 0;
    }

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .tel {
        display: flex;
        flex-direction: column;
        text-align: right;
        & .massage {
            font-size: 0.6em;
            margin: 0.5% 0 ;
        }
        & .number {
            font-size: 1.5em;
            margin: 4% 0;
        }

        & .time {
            font-size: 0.6em;
            border: 0.1em rgb(207, 207, 207) solid;
            margin: 0 0 0 auto;
            padding: 2% 4%;
        }
    }
}

nav {
    margin: 1.5% auto;
    width: 70%;
    font-size: 0.8em;
    & .container {
        width: 100%;
        display: flex;
        text-align: center;
        & button {
            border: 1px solid;
            border-radius: none;
            background: none;
            width: 20%;
            padding: 2%;
            background: rgb(151,224,222);
            color: white;
            background-image: -moz-linear-gradient(
                top,
                rgb(155,227,225) 0%,
                rgb(109,198,196));
            background-image:-webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(155,227,225)),
                to(rgb(109,198,196)));
            &.item-1 {
                border-radius: 10px 0 0 10px;                
            }
            &.item-5 {
                border-radius: 0 10px 10px 0;                
            }

        }
        .item-1:after {
            content: "\A TOP";
            white-space: pre;
        }
        .item-2:after {
            content: "\A CLINIC";
            white-space: pre;
        }
        .item-3:after {
            content: "\A SERVICE";
            white-space: pre;
        }
        .item-4:after {
            content: "\A STAFF";
            white-space: pre;
        }
        .item-5:after {
            content: "\A ACCESS";
            white-space: pre;
        }
    & :hover {
        background: rgba(255, 0, 0, 1);
    }
    }
    &.footer--nav {
        width: 72%;
        border: solid rgb(108,198,196);
        border-radius: 5px 5px 5px 5px;
        ul {

            background-color: rgb(108,198,196);
            color: white;
            li {
                &:hover {
                    border-bottom: solid;
                    cursor: pointer;
                }
                &::before {
                    content: "◯";
                    padding: 1%;
                }
                background-color: inherit;
                padding: 0 1% 0 1%;
                display: inline;
            }
        }
    }
}

main {
    width: 70%;
    display: flex;
    aside {
        width: 30%;
        .ippan > li:not(:first-child):before {
            content: "◆";
            padding: 0 0.3em;
        }
        .sinbi > li:not(:first-child):before {
            content: "◆";
        }
        & .ippan , .sinbi {
            & :first-child {
                border-radius: 0.3em 0.3em 0 0;
                list-style: none;
                background: rgb(151,224,222);
                color: white;
                background-image: -moz-linear-gradient(
                    top,
                    rgb(155,227,225) 0%,
                    rgb(109,198,196));
                background-image:-webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from(rgb(155,227,225)),
                    to(rgb(109,198,196)));
                padding:0.3em 1em 0.3em 0.5em;
            }
            & :not(:first-child) {
                padding: 0.5em;
                margin-bottom: 0.5em;
                font-size: 14px;
                border: 0.1em solid;
            }
            list-style: none;
        }
    }
    article::before{
        position: absolute;
        content: " ";
        background-color: white;
        margin-right: 1%;
        top: 16.5em;
        right: -1em;
        bottom: -2em;
        left: 0;
        opacity: 0.2;
    }
    article {
        position: relative;
        margin-left: 2%;
        margin-bottom: 3%;
        width: 70%;
        .news--title {
            margin:2%;
            font-size: 1em;
        }
        .news {
            div {
                border-bottom: 0.1em dotted gray;
                display: flex;
                font-size: 0.8em;
                width: 100%;
                padding: 2%;
                .date {
                    width: 25%;
                }
                .naiyou{
                    width: 70%;
                }
            }
        }
    }
}

address {
    & h4 {
        width: 75%;
        text-align: right;
        font-style: normal;    
        font-size: 0.7em;   
        color: gray; 
        padding-bottom: 1% ;
    }
}

.footer {
    .foot--border {
        width: 75%;
    }
    .copy {
        display: inline-block;
        margin: 2%;
        font-size: 0.7em;
        color: grey;
    }
    text-align: center;
}
