// @import "/css/header";
// @import "/css/main";
// @import "/css/footer";

@charset "utf-8";
@mixin color($color:white) {
    color: $color;
}
@mixin no-all {
    position: absolute;
    font-size: 1.6rem;
    text-align: center;
    top: 0%;
    right: 76%;
    bottom: 78%;
    left: 0;
    padding: 5% 0 0 0;
    opacity: 0.8;
}

* {
    text-decoration: none;
    font-weight: 400;
    @include color()
}

.head-container {
    display: flex;
    background-color: rgb(71,179,157);
    &__item-logo {
        font-size: 2.4rem;
        margin: {
            top: 2%;
            right: auto;
            bottom: 2%;
            left: 3%;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__item-side {
        font-size: 1.6rem;
        justify-content: flex-end;
        &:last-child {
            margin: {
                right: 2.2%;
            }
        }
        padding: {
            top: 2.5%;
            right: 1%;
            bottom: 2%;
            left: 1%;
        }
        &:hover {
            background-color: rgb(87,188,168);
        }
    }
}

.head-message {
    background-color: rgb(66,174,153);
    text-align: center;
    &__main {
        font-size: 4.8rem;
        padding: {
            top: 6%;
            right: auto;
            bottom: 1%;
            left: auto;
        }
        @include color
    }
    &__sub {
        font-size: 1.5rem;
        padding: {
            top: auto;
            right: 25%;
            bottom: 2.5%;
            left: 25%;
        }
    }

}

.popular {
    &__title {
        color: black;
        font-size: 2.4rem;
        text-align: center;
        border: 0.1px solid rgb(229,229,229);
        margin: {
            top: auto;
            right: auto;
            bottom: 2%;
            left: auto;
        }
        padding: {
            top: 2%;
            right: auto;
            bottom: 2%;
            left: auto;
        }
        &:before {
            color: black;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f024";
        }
    }

    &__container {
        display: flex;
        margin: {
            top: 3%;
            right: 3.5%;
            bottom: 3%;
            left: 3.5%;
        }

        &__items {
            position: relative;
            margin: {
                top: 0%;
                right: 1%;
                bottom: 4%;
                left: 1%;
            }

            &-image {
                width: 100%;
            }

            // 画像内のNo
            & .no {
                &1 {
                    @include no-all;
                    background-color: rgb(226,200,115);
                }
                &2 {
                    @include no-all;
                    background-color: rgb(135,143,152);
                }
                &3 {
                    @include no-all;
                    background-color: rgb(138,84,58);
                }
                &4 {
                    @include no-all;
                    background-color: rgb(93,69,42);
                }
                &5 {
                    @include no-all;
                    background-color: rgb(66,61,43);
                }
            }

            &-cat {
                @include color;
                width: 55%;
                background-color: rgb(71,179,157);
                text-align: center;
                font-size: 1.2rem;
                margin: {
                    top: 3%;
                    right: auto;
                    bottom: 3%;
                    left: 0;
                }
                padding: {
                    top: 3%;
                    right: auto;
                    bottom: 3%;
                    left: auto;
                }
            }

            &-post {
                color: black;
                font-size: 1.5rem;
                &:hover {
                    text-decoration: underline rgb(71,179,157);
                }
            }
        }
    }
}

.recent {
    &__title {
        color: black;
        font-size: 2.4rem;
        text-align: center;
        border: 0.1px solid rgb(229,229,229);
        margin: {
            top: auto;
            right: auto;
            bottom: 2%;
            left: auto;
        }
        padding: {
            top: 2%;
            right: auto;
            bottom: 2%;
            left: auto;
        }
        &:before {
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f017";
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin: {
            top: 3%;
            right: 3.5%;
            bottom: 3%;
            left: 3.5%;
        }

        &__items {
            position: relative;
            margin: {
                top: 0%;
                right: 1%;
                bottom: 4%;
                left: 1%;
            }

            &-image {
                width: 100%;
            }

            // 画像内のNo
            & .no {
                &1 {
                    @include no-all;
                    background-color: rgb(226,200,115);
                }
                &2 {
                    @include no-all;
                    background-color: rgb(135,143,152);
                }
                &3 {
                    @include no-all;
                    background-color: rgb(138,84,58);
                }
                &4 {
                    @include no-all;
                    background-color: rgb(93,69,42);
                }
                &5 {
                    @include no-all;
                    background-color: rgb(66,61,43);
                }
            }

            &-cat {
                @include color;
                width: 55%;
                background-color: rgb(71,179,157);
                text-align: center;
                font-size: 1.2rem;
                margin: {
                    top: 3%;
                    right: auto;
                    bottom: 3%;
                    left: 0;
                }
                padding: {
                    top: 3%;
                    right: auto;
                    bottom: 3%;
                    left: auto;
                }
            }

            &-post {
                color: black;
                font-size: 1.5rem;
                &:hover {
                    text-decoration: underline rgb(71,179,157);
                }
            }
        }
    }
}

.feature {
    &__title {
        text-align: center;
        font-size: 2.8rem;
        background-color: rgb(60,69,82);
        padding: {
            top: 1%;
            right: auto;
            bottom: 1%;
            left: auto;
        }
        &::before {
            color: white;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f00c";
        }
        &::after {
            content: "feature";
            font-size: small;
        }
    }
    
    &__container-right{
        display: flex;
        width: 100%;
        &__items {
            width: 60%;
            margin: 0 3%;
            
            &-title {
                
                & .no {
                    background-color: rgb(71,179,157);
                    font-size: 1.6rem;
                    text-align: center;
                    margin: {
                        top: auto;
                        right: 96%;
                        bottom: 5%;
                        left: auto;
                    }
                    padding: {
                        top: 6%;
                        right: 3%;
                        bottom: 1%;
                        left: 1.8%;
                    }
                }

                & .first {
                    font-size: 3.6rem;
                    color: rgb(71,179,157);
                }

                & .second {
                    font-size: 1.3rem;
                    color: rgb(71,179,157);
                    padding: {
                        top: 1%;
                        right: 0;
                        bottom: 6%;
                        left: 0;
                    }
                }
            }

            &-text {
                font-size: 1.6rem;
                color: black;
                margin: {
                    top: auto;
                    right: auto;
                    bottom: 5%;
                    left: auto;
                }
            }

            &-more {
                font-size: 1.4rem;
                color: white;
                margin: {
                    top: auto;
                    right: auto;
                    bottom: 7%;
                    left: auto;
                }
                padding: {
                    top: 2%;
                    right: 8%;
                    bottom: 2%;
                    left: 8%;
                }
                background-color: rgb(249,108,2);
                border-radius: 4px ;
            }

            &-img {
                width: 40%;
            }
        }
    }

    &__container-left{
        display: flex;
        width: 100%;
        &__items {
            width: 60%;
            margin: 0 3%;
            
            &-title {
                
                & .no {
                    background-color: rgb(71,179,157);
                    font-size: 1.6rem;
                    text-align: center;
                    margin: {
                        top: auto;
                        right: 96%;
                        bottom: 5%;
                        left: auto;
                    }
                    padding: {
                        top: 6%;
                        right: 3%;
                        bottom: 1%;
                        left: 1.8%;
                    }
                }

                & .first {
                    font-size: 3.6rem;
                    color: rgb(71,179,157);
                }

                & .second {
                    font-size: 1.3rem;
                    color: rgb(71,179,157);
                    padding: {
                        top: 1%;
                        right: 0;
                        bottom: 6%;
                        left: 0;
                    }
                }
            }

            &-text {
                font-size: 1.6rem;
                color: black;
                margin: {
                    top: auto;
                    right: auto;
                    bottom: 5%;
                    left: auto;
                }
            }

            &-more {
                font-size: 1.4rem;
                color: white;
                margin: {
                    top: auto;
                    right: auto;
                    bottom: 7%;
                    left: auto;
                }
                padding: {
                    top: 2%;
                    right: 8%;
                    bottom: 2%;
                    left: 8%;
                }
                background-color: rgb(249,108,2);
                border-radius: 4px ;
            }

            &-img {
                width: 40%;
            }
        }
    }

}

.service {
    &__title {
        text-align: center;
        font-size: 2.8rem;
        background-color: rgb(60,69,82);
        padding: {
            top: 1%;
            right: auto;
            bottom: 1%;
            left: auto;
        }
        &::before {
            color: white;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f004";
        }
        &::after {
            content: "service";
            font-size: small;
        }
    }

    &__container {
        display: flex;
        &__items {
            text-align: center;
            width: 50%;
            padding: {
                top: 8%;
                bottom: 5%;
            }
            &:first-of-type {
                border-right: 0.1px solid rgb(235, 235, 235);
            }
            &-title {
                font-size: 4.0rem;
                color: rgb(71,179,157);
            }

            &-text {
                font-size: 1.3rem;
                color: rgb(71,179,157);
                margin: {
                    top: 2%;
                    bottom: 5%;
                }
            }

            &-button {
                font-size: 1.6rem;
                background-color: rgb(71,179,157);
                border-radius: 4px;
                padding: {
                    top: 2%;
                    right: 4%;
                    bottom: 2%;
                    left: 4%;
                }
            }
        }
    }
}

.company {
    &__title {
        text-align: center;
        font-size: 2.8rem;
        background-color: rgb(60,69,82);
        padding: {
            top: 1%;
            right: auto;
            bottom: 1%;
            left: auto;
        }
        &::before {
            color: white;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f095";
        }
        &::after {
            content: "company";
            font-size: small;
        }
    }

    &__container {
        display: flex;
        &__items {
            &-address {
                width: 60%;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                font-size: 1.6rem;

                dt {
                    width: 30%;
                    color: black;
                    padding: 2% 3% 2% 10%;
                }
                dd {
                    width: 70%;
                    color: black;
                    padding: 2% 3% 2% 0;
                }
            }
            &-googlemap {
                width: 40%;
            }
        }
    }
}

.inquiry {
    &__title {
        text-align: center;
        font-size: 2.8rem;
        background-color: rgb(60,69,82);
        padding: {
            top: 1%;
            right: auto;
            bottom: 1%;
            left: auto;
        }
        &::before {
            color: white;
            font-weight: bold;
            font-family: "Font Awesome 5 Free";
            content: "\f095";
        }
        &::after {
            content: "service";
            font-size: small;
        }
    }

    background-color: rgb(71,179,157);
    text-align: center;
    color: white;

    &__item {
        &:first-child {
            margin-top: 5%;
        }
        &:last-child {
            padding-bottom: 5%;
        }
        & label { 
            font-size: 1.6rem;
        }
        & input {
            background-color: white;
            width: 40%;
            margin: 0 0 1% 0;
            padding: 0 0 1% 0;
            border-radius: 4px;
            box-shadow: 2px 3px 1px gray;
            &[type="submit"] {
                width: 5%;
                background-color: black;
                margin: 2% 4%;
                padding: 1% 5% 1% 2%;
            }
        }

        & textarea {
            background-color: white;
            width: 40%;
            margin: 0 0 1% 0;
            padding: 0 0 5% 0;
            border-radius: 4px;
            box-shadow: 2px 3px 1px gray;
        }
    }
}

.footer {
    background-color: rgb(3,23,49);
    &__title {
        font-size: 2.4rem;
        padding: 2% 0 2% 3%;
        border-top: 10px solid rgb(60,69,82);
    }

    &__container {
        border-top: 0.1px solid rgb(60,69,82);
        margin: 0 0 0 2%;
        display: flex;
        &__items {
            &-list {
                margin: 2% 0 5% 2%;
                width: 18%;
                font-size: 1.4rem;
                list-style: none;
                & .title {
                    font-size: 1.6rem;
                }
                & .dainari::before {
                    content: ">";
                    margin: 2%;
                }
                & > li {
                    margin-top: 5%;
                }
            }
            
        }
    }

    &__copy p{
        text-align: center;
        background-color: rgb(1,10,23);
        padding: 3% 0;
    }
}